{% extends 'base.html.twig' %}


{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        h1.name{margin-top: 100px; margin-bottom: 50px; text-align: center; }
    </style>

    <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="name">Hello {{ app.user.firstname }} look at YourList</h1>
        {% else %}
            <h3>
                Welcome to youflix here you can do a playliste of what you love in youtube an more soon
            </h3>
        {% endif %}

        <div class="card-deck">
            {% for clip in videos %}
                <div class="col-sm">

                    {% set clip_link = clip.content  %}
                    <div class="card" style="width: 18rem;">
                        <iframe width="286" height="180" src="{{ clip_link  | replace({ 'watch?v=': 'embed/'}) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="card-body">
                            <h6 class="card-title">{{ clip.title }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ clip.createAt |date("m/d/Y") }}</h6>
                            <p class="card-text">{{ clip.comment }}</p>
                            <a href="{{ path('user_firstname', {'byFirstname':clip.user.firstname})}}">{{ clip.user.firstname }}</a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ clip.id }}">
                                Big
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modal-{{ clip.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">{{ clip.title }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe width="560" height="315" src="{{ clip_link  | replace({ 'watch?v=': 'embed/'}) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
